.button {
    border-radius: 60px;
    width: max-content;
    border: none;
    background: #FD4D35;
    padding: 28px 100px;
    cursor: pointer;

    color: #FFF;
    font-family: 'Rubik';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4vw;
    text-transform: uppercase;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .button {
        width: 100%;
    }
}