.checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    width: clamp(315px, 31.52vw, 454px);
    margin-bottom: clamp(22px, 3.47vw, 50px);
}

.checkbox input {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.checkbox__text {
    color: #818798;
    font-family: 'PT-Root-UI';
    font-size: clamp(16px, 1.1vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
}

.checkbox__text a {
    color: #2D97F9;
    cursor: pointer;
    text-decoration: none;
}